#blockbids #left_column {display:none}
#blockbids #center_column {width:757px}

#bid_list li {
	list-style-type: none;
	width : 450px;
	height : auto;
	display : inline-block;
	margin-bottom: 10px;
}

#bid_list li .center_block {
        float:left;
        width:auto;
        padding:0 10px;
	margin-top: 10px;
}

#bid_list li .right_block {
   float: left;
   width: auto;
   height: 130px;
   margin-left: 50px;
   margin-bottom: 10px;
   margin-right: 50px;
}

#bid_list li .bottom_block {
	margin-left:10px;
	margin-bottom: 10px;
}